<!DOCTYPE html>
<html>
  <head>
    <title>The NMK Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_pack_tag 'bundle' %>

    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
          window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.icon = "<%= image_url('icon.png') %>"
      window.favorite = "<%= image_url('favorite.png') %>"
      window.fav = "<%= image_url('fav.png') %>"
      window.cart = "<%= image_url('cart.png') %>"
      window.home = "<%= image_url('home.jpg') %>"
      window.home2 = "<%= image_url('home2.jpg') %>"
      window.home3 = "<%= image_url('home3.jpg') %>"
      window.home4 = "<%= image_url('home4.jpg') %>"
      window.insta = "<%= image_url('insta.png') %>"
      window.fb = "<%= image_url('fb.png') %>"
      window.arrow = "<%= image_url('arrow.png') %>"
      window.iphone = "<%= image_url('iphone.png') %>"
      window.inbox = "<%= image_url('inbox.png') %>"
      window.policy = "<%= image_url('policy.png') %>"
      window.delivery = "<%= image_url('delivery.png') %>"
      window.delete = "<%= image_url('delete.png') %>"
      
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
